/*  
 * DESCRIPTION...
 *
 * Authors: Andrew Krause (the commentor), Riley Radle (the artist), 
 * Anthony Musbach (the cat from alice in wonderland when he smiles), Zach Gephart (Dr. big ass)
 * Date: TBD
 *
 */

/******************************* TYPE SELECTORS *******************************/

/* Format content within the body tag of the HTML structure */
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif; 
    background-color: #037dc4;  

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

/* Get rid of the default styling for lists */
/* Potentially delete later */
ul {
    list-style: none;
    padding: 0px;
}

/******************************* CLASS SELECTORS *******************************/

.aptiv-font-size {
    font-size: 3rem;
}

.navbar-links-font-size {
    font-size: 1.5rem;
}

/******************************* ID SELECTORS *******************************/

#navbar-section {
    background-color: #f36e23;
}

#footer-section {
    background-color: #f36e23;
}
