<!--
    DESCRIPTION...
-->
<footer class="white-section" id="footer-section">
    <div class="container-fluid">
      <div class="image-attributions">
        <!-- Attribute whatever you pull from online -->
        <p class="attribution-text white-text">Profile Icon from <a class="attribution-text white-text" href="https://thenounproject.com/search/?q=profile+&i=405168" title="NounProject">Nicolas Morand</a></p>
        <p class="attribution-text white-text">NAME from <a class="attribution-text white-text" href="https://thenounproject.com/search/?q=profile+&i=405168" title="NAME">AUTHOR</a></p>
      </div>
      <i class="white-text footer-icon fab fa-facebook"></i>
      <i class="white-text footer-icon fab fa-twitter"></i> 
      <i class="white-text footer-icon fab fa-instagram"></i> 
      <i class="white-text footer-icon fab fa-snapchat"></i> 
      <i class="white-text footer-icon fas fa-envelope"></i></p>
      <p class="white-text">© Copyright 2021 CS 341 by Andrew Krause, Riley Radle, Anthony Musbach, and Zach Gephart.</p>
    </div>
</footer>

<!-- Include a script tag link to the JQuery CDN!!! This should go near the bottom. -->

<!-- Include a link to external JavaScript files. -->
<script src="javascript/behavior.js" charset="utf-8"></script>
</body>

</html>