<!-- 
    DESCRIPTION GOES HERE...
    ...
    Author: Andrew Krause, Riley Radle, Anthony Musbach, Zach Gephart
    Date: TBD
    ...
-->

<%- include('./partials/home_header.ejs') %>
    <!-- Section for the picture on the webpage -->
    <section class="home-picture my-auto">
        <h1 class="black-text">Connecting You With <br>Your Community</h1>
        <!-- Create a form to process when user clicks "Find Events" button -->
        <form action="/find_events" method="POST">
            <div>
                <button type="submit" class="btn btn-dark btn-lg white-text">Find Events</button>
            </div>
        </form>
    </section>

<%- include('./partials/footer.ejs') %>
        