<!-- 
    DESCRIPTION GOES HERE...
    ...
    Author: Andrew Krause, Riley Radle, Anthony Musbach, Zach Gephart
    Date: TBD
    ...
-->

<%- include('partials/login-register_header.ejs') %>

    <!-- 
        Include EJS to display any error messages to the user 
        if they entered in the wrong password information.
    -->
    <% for (let i = 0; i < errors.length; i++) { %>
        <div class="card">
            <div class="card-body elementToFadeInAndOut">
                <h1 class="incorrect-input"><%= errors[i] %></h1>
            </div>
        </div>
    <% } %>

    <!-- 
        Include EJS to display any error messages to the user if the
        attempt to access a page that they are not authorized to access.
    -->
    <% if(permissionDenied.length > 0) { %>
        <div class="card">
            <div class="card-body elementToFadeInAndOut">
                <h1 class="incorrect-input"><%= permissionDenied %></h1>
            </div>
        </div>
    <% } %>

    <div class="container mt-5 mb-5">

        <div class="row">
            <div class="col-sm-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">
                            <!-- Makes POST request to the /login route -->
                            <form class="form-horizontal" action="/login" method="POST">
                                <div class="form-group">
                                    <label class="login-register-font control-label" for="email">Email</label>
                                    <input type="email" class="login-register-font form-control" name="username" required>
                                </div>
                                <div class="form-group mt-2">
                                    <label class="login-register-font control-label" for="password">Password</label>
                                    <input type="password" class="login-register-font form-control" name="password" required>
                                </div>
                                <button type="submit" class="mt-3 btn btn-lg btn-dark">Login</button>
                            </form>

                            <h5 class="mt-3">or<h5>
                            
                            <!-- Authentication sign in with Google -->
                            <div class="">
                                <a class="btn btn-block btn-lg btn-social btn-google" href="/auth/google" role="button">
                                    <i class="fab fa-google"></i>
                                    Sign In with Google
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Add a link to register if the user does not already have an account -->
                    <h5>Don't have an account? <a class="" href="/register">Register Here</a></h5>
                </div>
            </div>
        </div>

        <!-- Back button -->
        <!-- <div class="container mt-4">
            <form action="/back" method="POST">
                <div>
                    <button type="submit" class="btn btn-lg btn-outline-dark"><i class="fas fa-arrow-left"></i> Back</button>
                </div>
            </form>
        </div> -->

    </div>

<%- include('partials/footer.ejs') %>