<!-- 
    DESCRIPTION GOES HERE...
    ...
    Author: Andrew Krause, Riley Radle, Anthony Musbach, Zach Gephart
    Date: TBD
    ...
-->

<%- include('partials/login-register_header.ejs') %>

    <div class="container mt-5 mb-5">
    
        <div class="row">
            <div class="col-sm-6 mx-auto">
                <div class="card">
                    <div class="card-body">
        
                        <!-- Makes POST request to the /login route -->
                        <form class="form-horizontal" action="/login" method="POST">
                            <div class="form-group">
                                <label class="control-label" for="email">Email</label>
                                <input type="email" class="form-control" name="username" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Password</label>
                                <input type="password" class="form-control" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-dark">Login</button>
                        </form>

                        <p>Or<p>

                        <!-- Authentication sign in with Google -->
                        <div class="card social-block">
                            <div class="card-body">
                                <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
                                    <i class="fab fa-google"></i>
                                    Sign In with Google
                                </a>
                            </div>
                        </div>

                    </div>

                    <!-- Add a link to register if the user does not already have an account -->
                    <p>Don't have an account? <a class="" href="/register">Register Here</a></p>
                </div>
            </div>
        </div>

        <!-- Back button -->
        <div class="container mt-4">
            <form action="/back" method="POST">
                <div>
                    <button type="submit" class="btn btn-outline-light"><i class="fas fa-arrow-left"></i> Back</button>
                </div>
            </form>
        </div>

    </div>

<%- include('partials/footer.ejs') %>