<!-- 
    DESCRIPTION GOES HERE...
    ...
    Author: Andrew Krause, Riley Radle, Anthony Musbach, Zach Gephart
    Date: TBD
    ...
-->

<%- include('partials/login-register_header.ejs') %>

        <!-- Section for the body -->
        <section class="container border">
            <form action="Specifies where to send the form-data when a form is submitted" method="get">
                <div>
                    <div>
                        <input type="text" placeholder="First Name">
                    </div>
                    <div>
                        <input type="text" placeholder="Last Name">
                    </div>
                    <div>
                        <input type="text" placeholder="Email">
                    </div>
                    <div>
                        <input type="text" placeholder="Password">
                    </div>
                    <button class="btn btn-dark">Register</button>
                </div>
            </form>
        </section>

        <!-- Back button -->
        <form action="/register" method="POST">
            <div>
                <button type="submit" class="btn btn-outline-light">Back</button>
            </div>
        </form>

<%- include('partials/footer.ejs') %>