<%- include('./partials/home_header.ejs') %>

<h1>Make a donation to Team Aptiv</h1>

<div class="card w-50 mx-auto">
    <div class="card-body">

        <div class="text-center">
            <h1 class="border-bottom pb-2 mb-2">Looking to make a donation?</h1>
            <form action="/donate">
                <input type="text">
                <input class="btn btn-outline-dark" type="submit" value="Place Donation">
            </form>
        </div>

        <form action="/home">
            <input class="btn btn-outline-dark" type="submit" value="View Events">
        </form>    
        <small>Looking to donate to a specific event?</small>
    </div>
</div>

<%- include('./partials/footer.ejs') %>