/*
 * The CSS file contains three primary selector sections:
 * Tag Selectors, Class Selectors, and ID Selectors. There
 * is also a section at the bottom for file-specific styling.
 * This stylesheet applies custom styles created by the dev
 * team to the Aptiv Web Application for CS 341. The styles
 * in the file override the Bootstrap styles that are also
 * utililzed in the design of the site when applied properly.
 *
 * Authors: Andrew Krause, Riley Radle, Anthony Musbach, Zach Gephart
 * Class: Software Design IV (CS 341)
 * Group: #2
 * Due Date: December 15th, 2021
 *
 */

 /* Import fonts */
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Noto+Serif:ital@1&display=swap'); 

/******************************* TYPE SELECTORS *******************************/

/* Format content within the body tag of the HTML structure */
body {
    padding-top: 6rem; /* This portion is included for the fixed header on the page. */
    /* padding-bottom: 6rem; /* This portion is included for the fixed footer on the page. */
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif; 
    background-color: #e7e8ea;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Align footer with bottom of page. */
footer {
    margin-top: auto;
}

/* Get rid of the default styling for lists */
/* Potentially delete later */
ul {
    list-style: none;
    padding: 0px;
}

/******************************* CLASS SELECTORS *******************************/

/* Set navbar text color. */
.navbar-dark .navbar-brand {
    margin-left: 1rem;
    color: #e7e8ea;
}

/* Set the hover state so that there no effects. */
.navbar-dark .navbar-brand:hover {
    color: #f7c35e;
}

/* Set the color of the navbar link. */
.navbar-dark .navbar-nav .nav-link {
    margin-right: 1rem;
    color: #e7e8ea;
}

/* Set the hover state so that there are different color effects. */
.navbar-dark .navbar-nav .nav-link:hover {
    color: #f7c35e;
}

/* Set the color of the hamburger menu outline. */
.navbar-dark .navbar-toggler {
    margin-right: 1rem;
    color: #e7e8ea;
}

/* Set the color of the hamburger menu icon. */
.navbar-dark .navbar-toggler-icon {
    color: #e7e8ea;
}

/* Style the "Team Aptiv" text. Set hover state below. */
.aptiv-font-size {
    font-size: 3rem;
    color: #e7e8ea;
    /* color: red; */
}

.aptiv-font-size:hover {
    color: #f7c35e;
}

/* Set font size of the navbar links. */
.navbar-links-font-size {
    font-size: 1.5rem;
    color: #e7e8ea;
}

/* Add style to the login page styles (other title content). */
.login-register-text-alignemnt {
    color: #e7e8ea;
}

/* Float the text to the left for the login and register screens. */
.form-horizontal .control-label {
    float: left;
}

/* Make the login/register font larger. */
.login-register-font {
    font-size: x-large;
}

/* Change the text to a whiter color. */
.white-text {
    color: #e7e8ea;
}

/* Change text to a dark blueish color */
.black-text {
    color: #182139;
}

/* Add style to the two inline buttons in user profile. */
.btn-group.special {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* Set positioning of buttons in user profile. */
.special .btn {
    flex: 1;
    flex-basis: 100%;
    font-size: 1.25em;
    height: 2.75rem;
    border-radius: 0%;
}

/* Set the styling for back buttons */
.btn-back {
    width: 100% !important;
    border-radius: 0% !important;
    border: none;
    text-decoration: underline;
    font-size: 1.1em;
}

/* Add styling to the logout button on a user page */
.btn-logout {
    width: 100% !important;
    border-radius: 0% !important;
    border: none;
    text-decoration: underline;
    font-size: 1.1em;
    border-left: 1px solid #182139;
}

/* Style incorrect login with redish color. */
.incorrect-input {
    color: red;
}

/* Style confirmation message with greenish color. */
.confirmation {
    color: green;
}

/* Fade the error message in and out. */
.elementToFadeInAndOut {
    opacity: 1;
    animation: fade 0.75s linear;
}

/* Key frames fade. */
@keyframes fade {
  0%,100% { opacity: 0 }
  100% { opacity: 1 } 
}

/* ===== Riley's Styles ===== */

.attribution-text:hover {
    color: black;
}

.btn {
    border-radius: 1.5em;
    width: 30%;
}

.btn-dark {
    background-color: #182139;
    border-color: #182139;
    color: #f5f5f5
}

.btn-dark:hover {
    background-color: transparent;
    color: #182139;
}

.btn-outline-dark {
    color: #182139;
    border-color: #182139;
}

.btn-outline-dark:hover {
    background-color: #182139;
    color: #e7e8ea;
}

.card {
    background-color: #f5f5f5;
    color: #9a9b9f;
}

.form-group {
    padding: .5em;
}

.form-control {
    background-color: #f5f5f5;
    color: #747474;
    border: none;
    border-bottom: 1px solid lightgray;
}

.form-control:focus {
    background-color: #f5f5f5;
    color: #747474;
}

/* Format the navbar so that it is fixed. */
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* Modify the margins of the cards for the login/registration page. */
.margin-fine-tuning {
    margin-top: 10%;
    margin-bottom: 6%;
}

/* Modify the margins of the cards for the specific event page. */
.event-margin-fine-tuning {
    margin-top: 8%;
    margin-bottom: 6%;
}

/* Format the messages sent to the user. */ /* --> ASK GROUP IF THEY THINK YOU SHOULD HAVE WHITE CARD BACKGROUND OR NOT!!! */
.message-format {
    width: 100%;
    position: relative;
    margin-top: 1rem;
}

/* --> ASK THE GROUP IF YOU SHOULD HAVE THE "COMMUNITY EVENTS" TITLE BE FIXED OR NOT!!! */
/* Make the 'Community Events' title at the top of the events page fixed. */
/* .fixed-title {
    background-color: #e7e8ea;
    top: 6.15rem;
    padding-top: 3rem;
    width: 100%;
    height: 17%;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
} */

/* Give the events on the events page some padding. */
/* .event-list-top-padding {
    padding-top: 8rem;
} */

/******************************* ID SELECTORS *******************************/

/* Add color to header section of page. */
#header-section {
    background-color: #182139;
}

/* Style and position the header at the top of the login page. */
#login-header-section {
    background-color: #182139;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1030;
}

/* Add color to footer section of page. */
#footer-section {
    background-color: #182139;
    /* position: fixed;
    bottom: 0;
    width: 100%; */
}

/* Format profile picture for user profile. */
#profileImage {
    width: 6rem;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

/******************************* FILE SPECIFIC STYLING *******************************/

/* ===== Home Page ===== */

.home-picture h1 {
    font-size: 5rem;
    font-family: 'Noto Serif';
}

.home-picture button {
    width: 100%;
    font-size: 1.5em;
}

/* ===== Events Page ===== */

.event-list > a {
    text-decoration: none !important;
}

/* ===== Specific Event Page ===== */


/* ===== User Profile Page ===== */

.profile-event-list > li {
    margin-top: 1em; 
    background-color: #182139;
    color: #e7e8ea
}

/* ===== Login/Register Pages ===== */

.reference-link {
    color: #aba597;
}

.reference-link:hover {
    color: #f7c35e;
}

.google-link {
    text-decoration: none;
    color: #182139;
}

.google-link:hover {
    color:#182139;
    text-decoration: underline;
}

.google-link > i {
    border: 1px solid #f7c35e;
    border-radius: 50%;
    padding: .25em;
    color: #f7c35e;
}

