/*
 * The CSS file contains three primary selector sections:
 * Tag Selectors, Class Selectors, and ID Selectors. There
 * is also a section at the bottom for file-specific styling.
 * This stylesheet applies custom styles created by the dev
 * team to the Aptiv Web Application for CS 341. The styles
 * in the file override the Bootstrap styles that are also
 * utililzed in the design of the site when applied in some
 * cases.
 *
 * Project: Aptiv Web Application
 * Authors: Andrew Krause, Riley Radle, 
 * Anthony Musbach, Zach Gephart
 * Class: Software Design IV (CS 341)
 * Group: #2
 * Date: 12/15/2021
 *
 */

 /* Import fonts */
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Noto+Serif:ital@1&display=swap'); 

/******************************* TYPE SELECTORS *******************************/

/* Format content within the body tag of the HTML structure */
body {
    padding-top: 6rem; /* This portion is included for the fixed header on the page. */
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif; 
    /* background-color: #e7e8ea; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Get rid of the default styling for lists */
/* Potentially delete later */
ul {
    list-style: none;
    padding: 0px;
}

/* Aligns the footer to the bottom of the viewport */
footer {
    margin-top: auto;
}

/******************************* CLASS SELECTORS *******************************/

/* Place Padding to the left of the logo in navbar */
/* .navbar-brand {
    margin-left: 1rem;
} */

/* Places padding between navbar links on right */
/* .navbar-nav .nav-link {
    margin-right: 1rem;
} */

/* Set the color of the hamburger menu outline. */
.navbar .navbar-toggler {
    margin-right: 1rem;
    color: red;
}


/* Set the color of the hamburger menu icon. */
/* .navbar-toggler .navbar-toggler-icon {
    color: red !important;
} */

/* Style the "Team Aptiv" text. Set hover state below. */
/* .aptiv-font-size {
    font-size: 3rem;
    color: #fdcb65 !important;
    font-family: "Noto Serif";
} */

/* Set font size of the navbar links. */
.navbar-links-font {
    font-size: 1.5rem;
    /* FUCKING IMPOSSIBLE TO CHANGE THE COLOR OF THE TEXT IN THE NAVBAR */

}

/* Float the text to the left for the login and register screens. */
.form-horizontal .control-label {
    float: left;
}

/* Make the login/register font larger. */
.login-register-font {
    font-size: x-large;
}

/* Change the text to a whiter color. */
.white-text {
    color: #e7e8ea;
}

/* Change text to a dark blueish color */
.black-text {
    color: #182139;
}

/* Add style to the two inline buttons in user profile. */
.btn-group.special {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* Set positioning of buttons in user profile. */
.special .btn {
    font-size: 1.25em;
    border-radius: 0%;
}

/* Set the styling for back buttons */
.btn-back {
    width: 100% !important;
    border-radius: 0% !important;
    border: none;
    text-decoration: underline;
    font-size: 1.1em;
}

/* Add styling to the logout button on a user page */
.btn-logout {
    width: 100% !important;
    border-radius: 0% !important;
    border: none;
    text-decoration: underline;
    font-size: 1.1em;
    border-left: 1px solid #182139;
}

/* Style incorrect login with redish color. */
.incorrect-input {
    background-color: rgb(255, 169, 169);
    color: rgb(255, 60, 60);
    border: 2px solid rgb(255, 60, 60);
 }

/* Style confirmation message with greenish color. */
.confirmation {
    background-color: rgb(207, 246, 207);
    color: rgb(145, 182, 145);
    border: 2px solid rgb(145, 182, 145);
}

/* Fade the error message in and out. */
.elementToFadeInAndOut {
    opacity: 1;
    animation: fade 0.75s linear;
}

/* Key frames fade. */
@keyframes fade {
  0%,100% { opacity: 0 }
  100% { opacity: 1 } 
}

/* ===== Riley's Styles ===== */

/* .attribution-text:hover {
    color: black;
} */

/* .btn {
    border-radius: 1.5em;
    width: 30%;
} */

/* .btn-dark {
    background-color: #182139;
    border-color: #182139;
    color: #f5f5f5
} */

/* .btn-dark:hover {
    background-color: transparent;
    color: #182139;
} */

/* .btn-outline-dark {
    color: #182139;
    border-color: #182139;
} */

/* .btn-outline-dark:hover {
    background-color: #182139;
    color: #e7e8ea;
} */

/* .card {
    background-color: #f5f5f5;
    color: #9a9b9f;
} */

/* Adds some padding between the form elements */
.form-group {
    padding: .5em;
}

/* Changes the styles of the inputs in the form */
.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid lightgray;
}

/* Changes style of inputs when they are focused on */
.form-control:focus {
    background-color: transparent;
    color: #747474;
}

/* Format the navbar so that it is fixed. */
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}


/* Format the messages sent to the user. */ /* --> ASK GROUP IF THEY THINK YOU SHOULD HAVE WHITE CARD BACKGROUND OR NOT!!! */
/* .message-format {
    width: 100%;
    position: relative;
    margin-top: 1rem;
} */

/******************************* ID SELECTORS *******************************/

/* Add color to header section of page. */
#header-section {
    background-color: #182139;
    /* WILL PROBABLY BE GETTING RID OF THIS IN FAVOR OF A DIFFERENT STYLING THEME */
}

/* Style and position the header at the top of the login page. */
#login-header {
    background-color: #182139;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1030;
}

/* Add color to footer section of page. */
#footer-section {
    background-color: #182139;
    /* position: fixed;
    bottom: 0;
    width: 100%; */
}

/* Format profile picture for user profile. */
#profileImage {
    width: 6rem;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

/* Custom logo that is in the navbar */
#custom-logo {
    outline: 2px solid #fdcb65;
    border-radius: 20%;
}

/******************************* PAGE SPECIFIC STYLING *******************************/

/* ===== Home Page ===== */

/* Styles the main text on the home page */
.home-picture h1 {
    font-size: 5rem;
    font-family: 'Noto Serif';
}

/* Styles the button below the main text on the home page */
.home-picture button {
    width: 100%;
    font-size: 1.5em;
}

/* ===== Events Page ===== */

/* Get rid of the underlines for the text on the event cards */
.event-list > a {
    text-decoration: none;
}

/* ===== Specific Event Page ===== */


/* ===== User Profile Page ===== */


/* Style the dropdowns for events on the user profile page */
.my-events-btn-container {
    margin: auto;
    padding-bottom: .25em;
    width: 90%;
    border-bottom: 2px solid #e7e8ea;
}

/* Remove the line underneath the last event */
.event-list .event:last-child > .my-events-btn-container {
    border-bottom: none;
}

/* Style the drop down cards on the user profile */
.event .card {
    width: 90%;
    margin: auto;
    border-radius: 0%;
    /* Maybe also extend these to work for the cards on the events-list page */
}

/* Align the text inside of the drop down cards on user profile */
.event section {
    text-align: left;
    margin: auto;
    width: 50%;
}

/* ===== Login/Register Pages ===== */

/* .reference-link {
    color: #aba597;
}

.reference-link:hover {
    color: #fdcb65;
} */

.google-link {
    text-decoration: none;
}

.google-link:hover {
    text-decoration: underline;
}

.google-link > i {
    border: 1px solid #fdcb65; /* FIXME */
    border-radius: 50%;
    padding: .25em;
}

