/*
    Authors: Andrew Krause, Zach Gephart, Anthony Musbach, Riley Radle
    Description:
        This file contains all of the custom styling for the web app.
            
    Navigation: 
        Styles are organized into sections
            1. General styles (top of file)
            2. Styles for each page
            3. ID selected styles (bottom of file)

        Within each section styles should be ordered 
        based on subjective importance

        To quickly find a section:
            - Use command/ctrl f
            - Search for ...
                * General styles
                * <page_name>.ejs styles
                * ID styles

    Class: CS 341, Fall 2021
 */

 /* Import fonts */
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Noto+Serif:ital@1&display=swap&family=Mochiy+Pop+P+One&display=swap&family=Gochi+Hand&display=swap&family=Yanone+Kaffeesatz&display=swap'); 

/* ====================================================================
                            GENERAL STYLES
 ==================================================================== */

    /* Defines global colors */
    :root {
        --foreground-color: rgb(31, 31, 31);
        --background-primary: #f0f0f0; /* Background of the body */
        --background-secondary: white; /* Background of the cards */
        --theme1: rgb(180, 180, 180); /* This is used for a lot of the box shadows */
        --theme2: rgb(110, 110, 110);
        --theme3: white;
        --theme4: white;
        --theme5: white;


        /* Ex. to use these in another rule: */
        /* color: var(--light-color); */
        /* see https://www.w3.org/TR/css-variables/ for full documentation */
    }

    /* Format content within the body tag of the HTML structure */
    body {
        margin: 0;
        font-family: 'Merriweather', serif; 
        /* font-family: "Yanone Kaffeesatz", sans-serif; */
        background-color: var(--background-primary);
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    /* Get rid of the default styling for lists */
    ul {
        list-style: circle;
        padding: 0px;
    }

    /* Aligns the footer to the bottom of the viewport */
    footer {
        margin-top: auto;
        text-align: center;
    }

    footer i {
        color: var(--foreground-color);
    }

    /* ~~~~~~~~~~~~~ General Class Selectors ~~~~~~~~~~~~~ */

    /* Set the background-color of the different cards throughout the site */

    .btn-outline-light {
        color: var(--foreground-color);
        border: 1px solid var(--foreground-color);
    }

    .btn-outline-light:hover {
        color: var(--background-primary);
        background-color: var(--foreground-color);
        border: 1px solid var(--foreground-color);
    }

    /* Style incorrect login with redish color. */
    .incorrect-input {
        position: static;
        background-color: rgb(255, 169, 169);
        color: rgb(255, 60, 60);
        border: 2px solid rgb(255, 60, 60);
        animation: fade 5s forwards;
    }

    /* Style confirmation message with greenish color. */
    .confirmation {
        position: static;
        background-color: rgb(207, 246, 207);
        color: rgb(145, 182, 145);
        border: 2px solid rgb(145, 182, 145);
        animation: fade 5s forwards;
    }

    /* Key frames fade. */
    @keyframes fade {
    0% { opacity: 0; }
    50% { opacity: 1;}
    90% { height: auto; }
    100% { opacity: 0; height: 0; pointer-events: none; } 
    }

    /* Format the messages sent to the user */ 
    .message-format {
        text-align: center;
        font-size: 1.5em;
        width: 100%;
        padding: .5em;
    }

 /* ====================================================================
                            HOME.EJS STYLES
 ==================================================================== */

    .home-ejs .home-picture {
        text-align: left;
        padding-left: 5%;
        color: var(--foreground-color);
    }

    /* Styles the main text on the home page */
    .home-ejs .home-picture h1 {
        font-size: 5em;
        font-family: 'Noto Serif';
    }

    /* Styles the button below the main text on the home page */
    .home-ejs .home-picture button, .home-picture p {
        font-size: 1.5em;
    }

    .home-ejs .home-picture .buttons {
        display: flex;
    }


 /* ====================================================================
                        HOME_HEADER.EJS STYLES
 ==================================================================== */

    /* Set font size of the navbar links. */
    .navbar .navbar-nav .nav-link {
        padding-right: 1rem;
        font-size: 1.5rem;
        color: var(--foreground-color);
        transition: all .25s;
    }

    /* Potentially delete */
    .navbar .navbar-brand {
        color: var(--foreground-color);
    }

    /* Right align the collapsed navbar links */
    .nav-item {
        text-align: right;
    }

    /* Set the color of the hamburger menu icon */
    .navbar .navbar-toggler {
        color: var(--foreground-color);
        transition: all .25s;
    }

    .navbar .navbar-toggler i {
        font-size: 1.5em;
    }

    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-toggler:hover {
        color: var(--theme2);
    }


 /* ====================================================================
                    LOGIN.EJS / REGISTER.EJS STYLES
 ==================================================================== */

    .login-register-ejs .login-register-card {
        width: clamp(25em, 60vw, 40em);
        margin: 3em auto;
        border-radius: .5em;
        background-color: var(--background-secondary);
        box-shadow: 5px 5px 1em var(--theme1);
        transition: box-shadow .25s;
    }

    .login-register-ejs .login-register-card:hover {
        box-shadow: 5px 5px 2em var(--theme1);
    }

    .login-register-card header {
        padding: 1em 1em 1.5em 1em;
        border-bottom: 5px solid var(--theme1);
        border-radius: .5em .5em 0 0;
        background-color: var(--foreground-color);
        color: var(--background-secondary);
        line-height: 30%;
        text-align: center;
    }

    .login-register-card header a {
        color: var(--background-secondary);
        text-decoration: none;
        font-size: 4rem; 
        transform: translateY(0%);
        transition: color .25s;
    }

    .login-register-card header a:hover {
        color: var(--theme1);
    }

    .login-register-card header small {
        font-size: 1rem;
    }

    .login-register-card .credentials {
        width: 60%;
        margin: auto;
        padding: 2em 0;
    }

    .login-register-card .credentials input {
        font-size: 1.25rem;
        margin: .5em 0;
    }

    .login-register-card .credentials button {
        width: 100%;
        background-color: var(--theme1);
        color: var(--background-secondary);
        border: none;
        border-radius: .20em;
        padding: .375rem .75rem;
        font-size: 1.25rem;
    }

    .login-register-card .bottom > * {
        display: block;
        padding: .375rem .75rem;
        margin: .5em 0;
        text-align: center;
        font-size: 1.25rem;
    }

    .login-register-card .bottom > small {
        overflow: hidden;
    }

    /* This adds a horizontal line around the 'or' in the login/register page */
    .login-register-card .bottom > small::before,
    .login-register-card .bottom > small::after {
        content: "";
        display: inline-block;
        position: relative;
        vertical-align: middle;
        width: 50%;
        height: 1px;
        background-color: var(--foreground-color);
    }

    .login-register-card .bottom > small::before {
        right: .5em;
        margin-left: -50%;
    }

    .login-register-card .bottom > small::after {
        left: 0.5em;
        margin-right: -50%;
    }

    .login-register-card .bottom .google-link {
        text-decoration: none;
        color: var(--foreground-color);
        border: 1px solid var(--foreground-color);
        border-radius: .20em;
    }

    .login-register-card .bottom .google-link > i {
        color: var(--theme1);
        padding: .25em;
    }

    .login-register-card .bottom b {
        margin-top: 2em;
        font-weight: 400;
    }

    .login-register-card .bottom b > a {
        text-decoration: none;
        color: var(--theme1);
    }

/* ====================================================================
                           EVENTS.EJS STYLES
 ==================================================================== */

    .events-ejs {
        width: 80%;
        margin: auto;
    }

    .events-ejs header {
        color: var(--foreground-color);
        position: fixed;
        font-variant: small-caps;
        left: clamp(1em, 5vw, 5em);
        bottom: 0;
        transform: translateY(-45vh);
    }

    /* Style the top level heading */
    .events-ejs header > h1 {
        font-size: clamp(2em, 7vw, 5em);
        line-height: 75%;
    } 

    .events-ejs .events-list {
        width: 50%;
        float: right;
    }

    /* Style the Volunteer | Donate comment in the header */
    .events-ejs header > small {
        font-size: clamp(1.5em, 3vw, 2em);
    }

    .events-ejs .event {
        margin-top: 1.5em;
        padding: 1em;
        border-radius: .5em;
        background-color: var(--background-secondary);
        box-shadow: 5px 5px 1em var(--theme1);
        transition: all .5s;
    }

    .events-ejs .event > h2 {
        font-size: 2.5em;
        border-bottom: 1px solid var(--foreground-color);
        width: fit-content;
        transition: border .5s;
    }

    .events-ejs .event > p {
        margin: 0;
        font-size: 1.5em;
        opacity: 0%;
        transition: opacity .5s;
    }

    /* Get rid of the underlines for the text on the event cards */
    .events-ejs .events-list > a {
        color: var(--foreground-color);
        text-decoration: none;
    }

    .events-ejs .event > b {
        font-size: 1.5em;
    }

    .events-ejs .event > b > i {
        padding-left: 1em; 
        font-size: .75em;
    }

    /* Set the hover state for the cards */
    .events-ejs .event:hover {
        background-color: var(--foreground-color);
        transform: scale(1.05);
        color: var(--background-primary);
    }

    /* Change the bottom border when event is hovered on */
    .events-ejs .event:hover > h2 {
        border-bottom: 1px solid var(--background-primary);
    }

    .events-ejs .event:hover > p {
        opacity: 100%;
    }

/* ====================================================================
                           SPECIFIC_EVENT.EJS STYLES
 ==================================================================== */

 .specific-event-ejs {
     color: var(--foreground-color);
     width: 80%;
     margin: auto;
     display: grid;
     grid-template-columns: 1fr 1fr;
  }

 .specific-event-ejs .event {
    padding: 1em;
    width: 90%;
    margin: auto;
    height: 100%;
    border-radius: .5em;
    box-shadow: 5px 5px 1em var(--theme1); 
    background-color: var(--background-secondary);
    transition: all .5s;
 }

 .specific-event-ejs .event > h1 {
     font-size: 3em;
     border-bottom: 1px solid var(--theme1);
     width: fit-content;
 }

 .specific-event-ejs .event li {
     font-size: 1.5em;
     list-style: circle;
     margin-left: 1em;
     padding-bottom: .5em;
 }

 .specific-event-ejs .volunteer, .specific-event-ejs .donate {
    padding: .75em;
    width: 70%;
    margin-bottom: 1.5em;
    border-radius: .5em;
    box-shadow: 5px 5px 1em var(--theme1); 
    background-color: var(--background-secondary);
    transition: all .5s;
 }

 /* Make the labels for donating and volunteering the same font size */
 .specific-event-ejs .volunteer-donate .form-title {
     font-size: 1.75em;
     border-bottom: 1px solid var(--theme1);
     margin-bottom: .5em;
 }

 .specific-event-ejs .volunteer .form-title {
     display: inline;
 }

 .specific-event-ejs .submit-container {
     text-align: right;
 }

 /* Set the hover state of the cards to have a slight animation */
 .specific-event-ejs .event:hover, .specific-event-ejs .volunteer:hover, 
    .specific-event-ejs .donate:hover {
        box-shadow: 7px 7px 2em var(--theme1);
 }
    

/* ====================================================================
                        USER/ADMIN_PROFILE.EJS STYLES
 ==================================================================== */

    .profile-ejs .profile {
        width: clamp(30em, 60vw, 60em); 
        position: relative;
        margin: 3em auto;   
        box-shadow: 5px 5px 1em var(--theme1); 
        background-color: var(--background-secondary);
        border-radius: .5em;
        transition: box-shadow .25s;
    }

    .profile-ejs .profile:hover {
        box-shadow: 5px 5px 2em var(--theme1);
    }

    /* Sytles for the profile header */
    .profile-ejs .profile > header {
        display: flex;
        align-items: center;
        padding: 1em;
        background-color: var(--foreground-color);
        border-bottom: 5px solid var(--theme1);
        border-radius: .5em .5em 0 0;
    }

    .profile-ejs .profile > header .user-info {
        padding-left: 1em;
        color: var(--background-primary);
    }

    .profile-ejs .profile > header .user-info > h1 {
        font-size: clamp(3rem, 7vw, 4rem);
        border-bottom: 1px solid var(--background-primary);
    }

    .profile-ejs .profile > header .icons {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1em;
        font-size: clamp(1.5rem, 3vw, 2rem);
        line-height: 75%;
        font-family: "Gochi Hand";
        text-align: right;
    }

    .profile-ejs .profile > header .user-info > * {
        margin: 0;
    }

    /* Styles for the profile content */
    .profile-ejs .profile-content {
        display: flex;
        position: relative;
        padding: 1em;
    }

    .profile-ejs .profile-content .profile-nav button {
        display: block;
        position: relative;
        margin-bottom: .5em;
        border: none;
        background-color: transparent;
        font-size: 1.25rem;
    }

    /* Give the buttons a nice hover animation */
    .profile-ejs .profile-nav button::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: .15em;
        background-color: var(--theme1);
        transform: scaleX(0%);
        transform-origin: left;
        transition: transform .25s;
    }

    .profile-ejs .profile-nav button:hover {
        cursor: pointer;
    }

    .profile-ejs .profile-nav button:hover::before {
        transform: scaleX(100%);
    }

    .profile-ejs .profile-content .right-content {
        width: 70%;
        position: relative;
        margin: 0 auto;
    }

    .profile-ejs .profile-content .total-donations {
        width: fit-content;
        margin: 0 0 .5em;
        border-bottom: 5px solid var(--theme1);
        font-family: "Gochi Hand";
        font-size: clamp(1.5rem, 3vw, 2rem);
        line-height: 75%;
    }

    /* Styles to either hide or show the right content */
    .profile-ejs #events-list[data-visible="true"],
    .profile-ejs #users-list[data-visible="true"],
    .profile-ejs #settings[data-visible="true"] {
        opacity: 100%;
        position: relative;
        transform: translateY(0%);
        transition: opacity 1s, transform .5s;
    }

    /* Styles to either hide or show the right content */
    .profile-ejs #events-list[data-visible="false"],
    .profile-ejs #users-list[data-visible="false"],
    .profile-ejs #settings[data-visible="false"] {
        opacity: 0%; 
        position: absolute;
        pointer-events: none;
        transform: translateY(-10%);       
    }

    .profile-ejs .profile-content .event,
    .profile-ejs .profile-content .user {
        position: relative;
        padding: 1em 1em 3em 1em;
        margin-bottom: .5em;
        border-radius: .5em;
        border: 1px solid var(--theme1);
        transition: all .25s;
    }

    .profile-ejs .profile-content .event:hover,
    .profile-ejs .profile-content .user:hover {
        box-shadow: 2px 2px .5em var(--theme1);
        border-color: var(--background-secondary);
    }
 

    .profile-ejs .profile-content .event > h2,
    .profile-ejs .profile-content .user > h2 {
        width: fit-content;
        border-bottom: 1px solid var(--foreground-color);
    }

    .profile-ejs .profile-content .event > ul,
    .profile-ejs .profile-content .user > ul {
        margin: 0 1em;
    }

    .profile-ejs .profile-content .event button,
    .profile-ejs .profile-content .user button {
        position: absolute;
        bottom: .5em;
        right: .5em;
    }
    
    .profile-ejs #settings {
        position: relative;
        padding: 1em;
        border-radius: .5em;
        border: 1px solid var(--theme1);    
    }

    .profile-ejs #settings h3 {
        border-bottom: 1px solid var(--foreground-color);
        width: fit-content;
    }

    .profile-ejs #settings button[type="submit"] {
        position: absolute;
        bottom: .5em;
        right: .5em;
    }

/* ====================================================================
                        EVENT_CREATION STYLES
 ==================================================================== */

    .event-creation-ejs .create-card {
        width: clamp(30em, 60vw, 60em); 
        position: relative;
        margin: 3em auto;   
        box-shadow: 5px 5px 1em var(--theme1); 
        background-color: var(--background-secondary);
        border-radius: .5em;
        transition: box-shadow .25s;
    }

    .event-creation-ejs .create-card:hover {
        box-shadow: 5px 5px 2em var(--theme1);
    }

    .create-card header {
        padding: 1em;
        border-bottom: 5px solid var(--theme1);
        border-radius: .5em .5em 0 0;
        background-color: var(--foreground-color);
        color: var(--background-secondary);
        text-align: center;
    }

    .create-card header > h1 {
        font-size: 3rem;
        text-decoration: underline;
    }

    .create-card .info {
        width: 60%;
        margin: auto;
        padding: 2em 0 5em;
    }

    .create-card .info input {
        font-size: 1.25rem;
        margin: .5em 0;
    }

    .create-card .info button {
        display: inline;
        float: left;
        margin-right: .5em;
    }

 /* ====================================================================
                           ABOUT.EJS STYLES
 ==================================================================== */

    .about-ejs {
        color: var(--foreground-color);
    }

    .about-ejs .wrapper {
        width: 80%;
        margin: auto;
    }

    .about-ejs .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about-ejs .mission, .about-ejs .donate {
        margin: 1.5em;
        padding: 1em;
        background-color: var(--background-secondary);
        box-shadow: 5px 5px 1em var(--theme1); 
        border-radius: .5em;
        transition: all .6s;   
    }

    .donate {
        height: fit-content;
    }

    .help {
        margin: .5em 1.5em;
    }

    .about-ejs .mission > h2, .about-ejs .donate > h2 {
        border-bottom: 1px solid var(--foreground-color);
        width: fit-content;
    }

    .about-ejs .mission:hover, .about-ejs .donate:hover {
        box-shadow: 7px 7px 2em var(--theme1); 
    }

/* ====================================================================
                                ID STYLES
 ==================================================================== */

    /* Add color to footer section of page. */
    #footer-section {
        color: var(--foreground-color);
    }

    #footer-section p {
        font-size: .75em;
    }

    /* Format profile picture for user profile. */
    #profileImage {
        width: 10em;
        overflow: hidden;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        background-color: var(--background-secondary);
    }

    /* Custom logo that is in the navbar */
    #custom-logo {
        font-size: 1.5em;
        font-family: "Mochiy Pop P One";
        color: var(--foreground-color);
        outline: 2px solid var(--foreground-color);
        border-radius: 1em;
        transition: all .5s;
    }

    #custom-logo:hover {
        background-color: var(--foreground-color);
        color: var(--background-primary);
    }

    /* TODO */
    /* 
        Once the CSS is looking nice again -> 
            refactor all common parts for pages into one style rule
     */